<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Capa Intérim - Agence de recrutement et offres d'emploi à Châteaubriant - </title>

        <meta name="description" content="Capa Intérim vous accompagne dans votre recherche d'emploi. Découvrez nos offres d'emploi en intérim, CDD, CDI et alternance en Pays de Loire. ">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <link href="./css/font.css" rel="stylesheet">


        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <link href="./css/font-awesome.min.css" rel="stylesheet" >

        <link href="./css/style.css" rel="stylesheet">


    </head>

<body>

<header>

    <div id="menu">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img alt="Logo Capa Intérim" src="./images/logo-capa-interim.png" class="img-responsive">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="nav">
                    <ul class="nav navbar-nav">
                         <li class="dropdown active"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Je cherche un job <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="offres.html">Offres d'emploi</a></li>
                                <li><a href="moncompte.html">Candidature spontanée</a></li>
                            </ul>
                        </li>
                        <li><a href="recruteurs.html">Espace recruteur</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="moncompte.html" class="compte">Mon compte</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

</header>

<div id="slider">
    <img src="./images/offres.jpg" alt="Espace Offres d'Emploi" />
</div>

<div id="breadcrumb">
    <div class="container">
    <ul>
        <li><a class="home" href="./">Accueil</a></li>
        <li>Offres d'Emploi</li>
    </ul>
    </div>
</div>

<div id="search">
    <div class="container">
        <div class="page-title">
            <h2>Offres d'emploi</h2>
        </div>
        <div id="search-form">
            <div class="col-md-3 col-sm-6">
                <div id="keyword">
                    <input type="text" placeholder="Mots-clés" name="keyword" />
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div id="city">
                    <input type="text" placeholder="Localisation" name="city" />
                </div>
                </div>
            <div class="col-md-2 col-sm-4">
                <div id="type">
                    <select>
                        <option value="" disabled selected >Contrat</option>
                        <option value="interim">Intérim</option>
                        <option value="cdd">CDD</option>
                        <option value="cdi">CDI</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div id="activite">
                    <input type="text" placeholder="Secteur d'activité" name="activity" />
                </div>
            </div>
            <div class="col-md-1 col-sm-2">
                <a class="btn btn-default search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></a>
            </div>
        <div class="clearfix"></div>
        </div>

        <div id="results">
            <h2>Consultez nos dernières offres</h2>
                <div class="annonce">
                    <div class="col-sm-4">
                        <h3>Cariste</h3>
                    </div>
                    <div class="col-md-7 col-sm-6">
                        <p>Pour l'un de nos clients, leader mondial dans le secteur agroalimentaire, vous aurez pour mission la préparation des colis, le rangement du magasin,
la mise en stocks de fromages, à l'aide de chariots élévateurs CACES 1 et 3...</p>
                    </div>
                    <div class="col-md-1 col-sm-2 no-padding">

                    <a href="./offre.html" class="btn btn-default more"><i class="fa fa-plus" aria-hidden="true"></i>Voir plus</a>
                    </div>
                </div>
                <div class="annonce">
                    <div class="col-sm-4">
                        <h3>Menuisier</h3>
                    </div>
                    <div class="col-md-7 col-sm-6">
                        <p>Un(e) menuisier(ère) atelier aluminium pour effectuer le débit et l'assemblage
des éléments de menuiseries aluminium. Vous pouvez fabriquer des portes,
fenêtres, façades, murs rideaux, baies coulissantes, escaliers, pergollas, stores...</p>
                    </div>
                    <div class="col-md-1 col-sm-2 no-padding">

                    <a href="./offre.html" class="btn btn-default more"><i class="fa fa-plus" aria-hidden="true"></i>Voir plus</a>
                    </div>
                </div>
                <div class="annonce">
                    <div class="col-sm-4">
                        <h3>Assistant Logistique</h3>
                    </div>
                    <div class="col-md-7 col-sm-6">
                        <p>Au sein de notre équipe, vous prendrez en charge l’organisation, la gestion opérationnelle et logistique des commandes et du stock...</p>
                    </div>
                    <div class="col-md-1 col-sm-2 no-padding">

                    <a href="./offre.html" class="btn btn-default more"><i class="fa fa-plus" aria-hidden="true"></i>Voir plus</a>
                    </div>
                </div>
        </div>
        <a class="btn btn-default yellow">Plus d'offres</a>
    </div>
</div>
    <div id="liens">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-6">
                    <h3>Je cherche un job</h3>
                    <ul>
                        <li><a href="">Nos offres d'emploi</a></li>
                        <li><a href="">Candidature spontanée</a></li>
                        <li><a href="">Mon espace personnel</a></li>
                        <li><a href="">Agences d'intérim</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                    <h3>Nos types de mission</h3>
                    <ul>
                        <li><a href="">Emplois en CDD à Châteaubriant</a></li>
                        <li><a href="">Contrats CDI en Pays-de-Loire</a></li>
                        <li><a href="">Missions intérim en Loire-Atlantique</a></li>
                        <li><a href="">Travail temporaire dans l'Ouest</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                    <h3>Nos dernières offres d'emploi</h3>
                    <ul>
                        <li><a href="">Garagiste à Nozay (44) Intérim</a></li>
                        <li><a href="">Chef de chantier à Châteaubriant (44) CDI</a></li>
                        <li><a href="">Agent de Production à Vay (85) Intérim</a></li>
                        <li><a href="">Boulanger Pâtissier au Mans (72) CDD</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6">
                    <h3>Capa intérim</h3>
                    <ul>
                        <li><a href="">Espace recruteurs</a></li>
                        <li><a href="">Nos actualités</a></li>
                        <li><a href="">Nos agences</a></li>
                        <li><a href="">Contactez-nous</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="social" class="grey_bg">
     <div class="container">
         <ul>
             <li><a href="" target="_blank" ><i class="fa fa-twitter" aria-hidden="true"></i>
    </a></li>
             <li><a href="http://www.facebook.com/capainterim/" target="_blank" ><i class="fa fa-facebook" aria-hidden="true"></i>
    </a></li>
             <li><a href="" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i>
    </a></li>
             <li><a href="" target="_blank" ><i class="fa fa-google-plus" aria-hidden="true"></i>
    </a></li>
         </ul>
     </div>
</div>

<div id="copyright">
    <div class="container">
        <p>Copyright © 2017 CAPA INTÉRIM | <a href="">Mentions légales</a></p>
    </div>
</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="./js/bootstrap.min.js"></script>

</body>



</html>
