<html>
<head>

  <!-- Date picker -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>

<body>

  <center style="margin-bottom: 2%;">
    <b>--------------------------------------------------------------------------------------------------------------------------------------------</b>
    <br><br><br>HEADER<br><br><br>
    <b>--------------------------------------------------------------------------------------------------------------------------------------------</b>
  </center>

  <div style="width: 60%; margin-top: 2%;">
    <p>Secteur d'activité :</p>
    <div id="domain" contenteditable="true" style="height: 5%; border-style: solid; border-width: 1px; border-color: #c9c9c9;">
    </div>
  </div>

  <div>
    <button onclick="add()" style="margin-top: 2%;">Ajouter</button>
    <script type="text/javascript">
    function add()
    {
      var domain = document.getElementById('domain').innerText;

      "{% for domain in domains %}"
      if (domain == "{{ domain.name }}")
      {
        alert("Secteur d'activité déjà existant");
        return;
      }
      "{% endfor %}"

      $.ajax({
        url: '{{ (path('upload_domain')) }}',
        type: "POST",
        dataType: "text",
        data: {
          "domain": domain
        }
      });
      window.location.href = "{{ path('job') }}";
    }
    </script>
  </div>

</body>
</html>
