<html>
<head>

  <!-- Date picker -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>

  <center style="margin-bottom: 2%;">
    <b>--------------------------------------------------------------------------------------------------------------------------------------------</b>
    <br><br><br>HEADER<br><br><br>
    <b>--------------------------------------------------------------------------------------------------------------------------------------------</b>
  </center>

  <div style="width: 60%; margin-top: 2%;">
    <p>Nom :</p>
    <div id="name" contenteditable="true" style="height: 5%; border-style: solid; border-width: 1px; border-color: #c9c9c9;">
    </div>
  </div>

  <div style="width: 60%; margin-top: 2%;">
    <p>Adresse :</p>
    <div id="address" contenteditable="true" style="height: 5%; border-style: solid; border-width: 1px; border-color: #c9c9c9;">
    </div>
  </div>

  <div style="width: 60%; margin-top: 2%;">
    <p>Ville :</p>
    <div id="city" contenteditable="true" style="height: 5%; border-style: solid; border-width: 1px; border-color: #c9c9c9;">
    </div>
  </div>

  <div style="width: 60%; margin-top: 2%;">
    <p>Téléphone :</p>
    <div id="phone" contenteditable="true" style="height: 5%; border-style: solid; border-width: 1px; border-color: #c9c9c9;">
    </div>
  </div>

  <div>
    <button onclick="add()" style="margin-top: 2%;">Add</button>
    <script type="text/javascript">
    function add()
    {
      var name = document.getElementById('name').innerText;
      var address = document.getElementById('address').innerText;
      var city = document.getElementById('city').innerText;
      var phone = document.getElementById('phone').innerText;

      $.ajax({
        url: '{{ path('upload_agency') }}',
        type: "POST",
        dataType: "text",
        data: {
          "name": name,
          "address": address,
          "city": city,
          "phone": phone
        }
      });
      window.location.href = "{{ path('agency') }}";
    }
    </script>
  </div>

</body>
</html>
