<html>
<head>

  <!-- Date picker -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>

  <center style="margin-bottom: 2%;">
    <b>--------------------------------------------------------------------------------------------------------------------------------------------</b>
    <br><br><br>HEADER<br><br><br>
    <b>--------------------------------------------------------------------------------------------------------------------------------------------</b>
  </center>

  <div style="width: 60%; margin-top: 2%;">
    <p>Nom :</p>
    <div id="name" contenteditable="true" style="height: 5%; border-style: solid; border-width: 1px; border-color: #c9c9c9;">
    </div>
  </div>

  <div style="width: 60%; margin-top: 2%;">
    <p>Prénom :</p>
    <div id="firstname" contenteditable="true" style="height: 5%; border-style: solid; border-width: 1px; border-color: #c9c9c9;">
    </div>
  </div>

  <div style="width: 60%; margin-top: 2%;">
    <p>Nom de l'offre :</p>
    <div id="offer_name" contenteditable="true" style="height: 5%; border-style: solid; border-width: 1px; border-color: #c9c9c9;">
    </div>
  </div>

  <button onclick="add()" style="margin-top: 2%;">Ajouter</button>
  <script type="text/javascript">
  function add()
  {
    var name = document.getElementById('name').innerText;
    var firstname = document.getElementById('firstname').innerText;
    var offer_name = document.getElementById('offer_name').innerText;

    $.ajax({
      url: '{{ (path('upload_application')) }}',
      type: "POST",
      dataType: "text",
      data: {
        "name": name,
        "firstname": firstname,
        "offer_name": offer_name
      }
    });
    window.location.href = "{{ path('application') }}";
  }
  </script>
</div>

</body>
</html>
